<div id="<%= dom_id local %>">
  <p>
    <strong>Nome:</strong>
    <%= local.nome %>
  </p>

  <p>
    <strong>Localização:</strong>
    <%= local.localizacao %>
  </p>

  <p>
    <strong>Religião:</strong>
    <%= local.religiao_denominacao %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= local.tipo %>
  </p>

  <p>
    <strong>Descrição:</strong>
    <%= local.descricao %>
  </p>

  <p>
    <strong>Eventos:</strong>
    <%= local.eventos %>
  </p>

  <p>
    <strong>Contato:</strong>
    <%= local.contato %>
  </p>

</div>
