<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        background-image: url('/assets/home_background.jpg');
        background-repeat: no-repeat;
        background-size: cover;
      }

      .jumbotron {
        text-align: center;
        margin-top: 100px;
        background-color: rgba(175, 229, 247, 0.9);  
      }

      .jumbotron h1 {
        font-size: 48px; 
      }

      .home-content {
        background-color: #f8f9fa;
      }

      .button-container {
        display: flex;
        justify-content: center;
        margin-top: 10px;
      }

      .button-container a {
        margin: 0 5px; 
      }
    </style>
    <!-- ... other scripts or stylesheets ... -->
  </head>
  <body>
    <div class="jumbotron">
      <h1>CargoMatch</h1>
      <p>
        Encontre fretes mais baratos para a sua encomenda!
      </p>
      <% if not user_signed_in? %>
        <p>
          <%= link_to 'Crie uma conta', '/users/sign_up', class: 'btn btn-primary btn-lg' %>
          <%= link_to 'Ver fretes disponíveis', 'trips', class: 'btn btn-primary btn-lg' %>
          <%= link_to 'Solicite ou ofereça um frete', 'trips/new', class: 'btn btn-primary btn-lg' %>
        </p>
      <% else %>
        <div class="button-container">
          <%= link_to 'Ver fretes disponíveis', 'trips', class: 'btn btn-primary btn-lg' %>
          <%= link_to 'Solicite ou ofereça um frete!', 'trips/new', class: 'btn btn-primary btn-lg' %>
        </div>
      <% end %>
    </div>
  </body>
</html>

