<!DOCTYPE html>
<html>
  <head>
    <title>HolyPlace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col min-h-screen bg-gray-100">
    <%= render 'layouts/navbar' %>
    <p class="alert"><%= alert %></p> 
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>


